{
    "name": "NASALNets",
    "bn": {
        "momentum": 0.1,
        "eps": 0.001
    },
    "bridges": [
        {
            "name": "MBInvertedConvLayer",
            "in_channels": 32,
            "out_channels": 16,
            "kernel_size": 5,
            "stride": 1,
            "expand_ratio": 1,
            "mid_channels": null,
            "f_size": null
        },
        {
            "name": "MBInvertedConvLayer",
            "in_channels": 24,
            "out_channels": 16,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 1,
            "mid_channels": null,
            "f_size": null
        },
        {
            "name": "ConvLayer",
            "kernel_size": 1,
            "stride": 1,
            "dilation": 1,
            "groups": 1,
            "bias": false,
            "has_shuffle": false,
            "f_size": null,
            "in_channels": 16,
            "out_channels": 8,
            "use_bn": true,
            "act_func": "relu6",
            "dropout_rate": 0,
            "ops_order": "weight_bn_act"
        },
        {
            "name": "ConvLayer",
            "kernel_size": 1,
            "stride": 1,
            "dilation": 1,
            "groups": 1,
            "bias": false,
            "has_shuffle": false,
            "f_size": null,
            "in_channels": 16,
            "out_channels": 8,
            "use_bn": true,
            "act_func": "relu6",
            "dropout_rate": 0,
            "ops_order": "weight_bn_act"
        }
    ],
    "first_conv": {
        "name": "ConvLayer",
        "kernel_size": 3,
        "stride": 2,
        "dilation": 1,
        "groups": 1,
        "bias": false,
        "has_shuffle": false,
        "f_size": null,
        "in_channels": 3,
        "out_channels": 32,
        "use_bn": true,
        "act_func": "relu6",
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    },
    "down_blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 16,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 16,
                "out_channels": 16,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 16,
                "out_channels": 16,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 16,
                "out_channels": 16,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 16,
                "out_channels": 24,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 24,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 24,
                "out_channels": 24,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 24,
                "out_channels": 24,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 24,
                "out_channels": 24,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 24,
                "out_channels": 32,
                "kernel_size": 5,
                "stride": 2,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 32,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 32,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 32,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 32,
                "out_channels": 32,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 32,
                "out_channels": 32,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 32,
                "out_channels": 32,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 32,
                "out_channels": 48,
                "kernel_size": 7,
                "stride": 2,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 48,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 48,
                "out_channels": 48,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 48,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 48,
                "out_channels": 48,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 48,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 48,
                "out_channels": 48,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        }
    ],
    "down_flags": [
        0,
        3,
        7,
        13
    ],
    "ppm": {
        "name": "PPM",
        "in_channels": 48,
        "out_channels": 48,
        "f_size": 20,
        "pool_sizes": [
            1,
            3,
            5
        ]
    },
    "ppm_out": [
        {
            "name": "ZeroLayer",
            "in_channels": 48,
            "out_channels": 16,
            "stride": 1,
            "f_size": 40
        },
        {
            "name": "ZeroLayer",
            "in_channels": 48,
            "out_channels": 16,
            "stride": 1,
            "f_size": 80
        },
        {
            "name": "PPMOutConvLayer",
            "in_channels": 48,
            "out_channels": 8,
            "kernel_size": 3,
            "stride": 1,
            "expand_ratio": 1,
            "mid_channels": null,
            "f_size": 160
        },
        {
            "name": "ZeroLayer",
            "in_channels": 48,
            "out_channels": 8,
            "stride": 1,
            "f_size": 160
        }
    ],
    "up_blocks": [
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 48,
                "out_channels": 16,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 16,
                "out_channels": 16,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 6,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 16,
                "out_channels": 16,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 16,
                "out_channels": 16,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 16,
                "out_channels": 16,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 16,
                "out_channels": 16,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 16,
                "out_channels": 8,
                "kernel_size": 5,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 8,
                "out_channels": 8,
                "kernel_size": 7,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 8,
                "out_channels": 8,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "ZeroLayer",
                "in_channels": 8,
                "out_channels": 8,
                "stride": 1,
                "f_size": null
            },
            "shortcut": {
                "name": "IdentityLayer",
                "in_channels": 8,
                "out_channels": 8,
                "use_bn": false,
                "act_func": null,
                "dropout_rate": 0,
                "ops_order": "weight_bn_act"
            }
        },
        {
            "name": "MobileInvertedResidualBlock",
            "mobile_inverted_conv": {
                "name": "MBInvertedConvLayer",
                "in_channels": 8,
                "out_channels": 8,
                "kernel_size": 3,
                "stride": 1,
                "expand_ratio": 3,
                "mid_channels": null,
                "f_size": null
            },
            "shortcut": null
        }
    ],
    "up_flags": [
        1,
        4,
        6,
        7
    ],
    "predictor": {
        "name": "ConvLayer",
        "kernel_size": 1,
        "stride": 1,
        "dilation": 1,
        "groups": 1,
        "bias": true,
        "has_shuffle": false,
        "f_size": null,
        "in_channels": 8,
        "out_channels": 1,
        "use_bn": false,
        "act_func": null,
        "dropout_rate": 0,
        "ops_order": "weight_bn_act"
    }
}